.#*
*.db-wal
*.db-shm
*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
.stack-root/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/.git/

node_modules/
bower_components/
output/
dist/
static/dist/
.psci_modules
npm-debug.log
**DS_Store

.gradle
/mobile/local.properties
/mobile/.idea/workspace.xml
/mobile/.idea/libraries
/mobile/build
/mobile/captures
.externalNativeBuild
/mobile/app/src/main/java